@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background: #808080" >
    <h1>Eleven Note</h1>
    <p class="lead">Welcome to Eleven Note! Please sign up below or log in in the top right to get access to Notes.</p>
    <p><a onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-primary btn-lg" >Sign Up &raquo;</a></p>
</div>

